@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: rgb(10, 10, 10);
  height: 100vh;
  overflow: hidden;
}
* {
  background-color: rgb(1, 1, 1);
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  color: white;
  height: 55px;
  background-color: black;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.brand img {
  padding: 0px 8px;
  width: 45px;
  background-color: black;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 50vh;
  max-height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 70%;
  padding: 20px;
  border-radius: 7px;
  background-image: url("SongBanner.jpg");
  margin: 23px auto;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul li {
  background-color: black;
  padding: 0px 10px;
}
.audioTracker {
  position: fixed;
  height: 90px;
  color: white;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 14);
  bottom: 0;
}
#audioProgress {
  margin-top: 20px;
  cursor: pointer;
  width: 80vw;
}
.icons i {
  cursor: pointer;
  background-color: rgb(14, 14, 14);
}
.icons {
  background-color: rgb(14, 14, 14);
  margin-top: 15px;
}
.songItem {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 12px 0px;
  border: 4px solid rgb(20, 20, 20);
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  justify-content: space-between;
  width: 500px;
  transition: all 0.1s ease-in;
}
.songItem:hover {
  transform: scale(1.05);
}
.songList {
  overflow-y: scroll;
}
.songTitle {
  height: 50px;
  position: relative;
}
.songTitle {
  width: 700px;
  background-color: black;
  position: fixed;
}
.songList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.songList {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.RealSongOnlyList {
  margin-top: 60px;
  width: 600px;
  padding-left: 14px;
}
.songInfo {
  position: fixed;
  left: 10vw;
  bottom: 2vh;
  display: flex;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  color: white;
  background: none;
}
#gif {
  transition: all 0.5s ease-in;
  opacity: 0;
  object-fit: none;
  width: 170px;
  height: 100px;
  left: -183px;
  position: absolute;
  background: none;
}
.songInfo span {
  background: none;
}
.songPlay {
  font-size: 19px;
  margin-left: 5px;
}
.songDetails {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 425px) {
  .container {
    width: 80vw;
  }
  .songTitle {
    width: 80vw;
  }
  .songItem {
    width: 65vw;
    font-size: 0.8rem;
  }
  .songInfo {
    position: absolute;
    left: 30vw;
    font-size: 0.7rem;
    width: 34vw;
  }
  .icons {
    position: absolute;
    right: 6vw;
    bottom: 10px;
  }
  #audioProgress {
    position: absolute;
    bottom: 7vh;
  }
  #gif {
    position: absolute;
    left: -29vw;
    width: 100px;
    height: 40px;
  }
}
